<td-layout-nav>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Conversations</span>
    <span flex></span>
    <a md-icon-button mdTooltip="search" href="#" target="_blank">
      <md-icon>search</md-icon>
    </a>
  </div>
  <td-layout-manage-list sidenavWidth="450px">
    <md-toolbar td-sidenav-content class="bgc-white sidenav-content-top">
      <md-select [(ngModel)]="selectedConvGroupValue" class="size-width-128">
        <md-option *ngFor="let item of convGroupMenu" [value]="item.value">{{item.name}} ({{item.count}})</md-option>
      </md-select>
      <md-menu #convDateMenu="mdMenu">
        <button md-menu-item (click)="selectConvDateMenuItem('Today')">Today</button>
        <button md-menu-item (click)="selectConvDateMenuItem('Yesterday')">Yesterday</button>
        <button md-menu-item (click)="selectConvDateMenuItem('Month ago')">Month ago</button>
      </md-menu>
      <button md-button [mdMenuTriggerFor]="convDateMenu">
        <md-icon>date_range</md-icon>
        <span>Date</span>
        <md-icon>keyboard_arrow_down</md-icon>
      </button>
    </md-toolbar>
    <md-nav-list td-sidenav-content>
      <template let-conversation let-last="last" ngFor [ngForOf]="lastConversations">
        <md-list-item class="conversation-list">
          <md-checkbox md-list-avatar></md-checkbox>
          <div md-line class="answerer-title-wrapper">
            <div layout="row" layout-align="center center" flex>
              <span><img class="answerer-image" [src]="conversation.img1"/></span>
              <span>{{conversation.name}}</span>
              <span flex></span>
              <span [hidden]="!conversation.attached"><md-icon class="tc-grey-500" >attach_file</md-icon></span>
              <span class="tc-grey-500 md-caption">3mth</span>
            </div>
          </div>
          <p md-line class="last-message-wrapper">
            <img class="user-sub-icon" [src]="conversation.img2" [hidden]="!conversation.img2"/>
            <span>{{conversation.message}}</span>
          </p>
        </md-list-item>
        <md-divider *ngIf="!last"></md-divider>
      </template>
    </md-nav-list>
    <div td-toolbar-content layout="row" class="toolbar-content" layout-align="space-between center" flex>
        <div class="toolbar-content-user">
          <img class="answerer-image" src="{{lastConversations[0].img2}}"/>
          <span>You</span>
          <md-icon>keyboard_arrow_down</md-icon>
        </div>
        <div class="toolbar-content-name">
          <span class="tc-blue-700">{{user.name}}</span>
        </div>
        <div class="toolbar-content-reopen">
          <md-icon>cloud_upload</md-icon>
          <span>Reopen</span>
        </div>
      </div>
    <div class="messages-chat">
      <div class="messages-wrapper">
        <div class="message-wrapper">
          <img src="http://placehold.it/44x44" alt="" class="message-avatar">
          <div class="message-body arrow">
            <div> 123123</div>
          </div>
          <div class="message-body">
            <div> 123123</div>
          </div>
          <div class="message-data">
            <span class="message-data__action">Sent from</span>
            <span class="message-data__info">App</span>
            <span class="message-data__action">, via</span>
            <span class="message-data__info">Chrome, 5mth ago</span>
          </div>
        </div>
      </div>
      <div class="messages-wrapper my-message">
        <div class="message-wrapper">
          <img src="http://placehold.it/44x44" alt="" class="message-avatar">
          <div class="message-body arrow">
            <div> 123123</div>
          </div>
          <div class="message-data">
            <span class="message-data__action">Sent from</span>
            <span class="message-data__info">App</span>
            <span class="message-data__action">, via</span>
            <span class="message-data__info">Chrome, 5mth ago</span>
          </div>
        </div>
      </div>
    </div>
    <div class="message-write-wrapper">
      <div class="message-write-header">
        <div class="message-write-header__tab">
          Reply
        </div>
        <div class="message-write-help">
          <i class="material-icons">help</i>
        </div>
      </div>
      <div class="message-write-textarea">
        <textarea rows="3" placeholder="write message"></textarea>
      </div>
      <div class="message-write-actions">
        <div class="actions">
          <md-icon>attach_file</md-icon>
          <md-icon>gif</md-icon>
        </div>
        <button md-button md-primary class="md-button-primary">Send</button>
      </div>
    </div>
  </td-layout-manage-list>
</td-layout-nav>
