.conversation-list {
  .mat-list-item-content {
    padding: 50px 16px !important;
  }
}

.answerer-title-wrapper {
  padding: 10px 0 !important;
}

.answerer-image {
  padding: 0 5px;
}

.user-sub-icon {
  border-right: 3px solid #1976d2;
  padding-right: 8px;
}

.sidenav-content-top .mat-toolbar-row {
  justify-content: space-between;
  & .material-icons,
  & span {
    color: #9d9d9d;
    font-weight: 700;
    font-size: 14px;
    vertical-align: middle;
  }
}

.toolbar-content .material-icons,
.toolbar-content .answerer-image,
.toolbar-content span {
  color: #9d9d9d;
  font-weight: 700;
  font-size: 14px;
  vertical-align: middle;
}

.messages {
  &-chat {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f0f4f7;
    height: 77%;
    overflow: auto;
  }
  &-wrapper {
    padding-bottom: 30px;
    &.my-message {
      display: flex;
      flex-direction: row-reverse;
      & > .message-wrapper {
        padding-left: 0;
        padding-right: 60px;
      }
      & .message-avatar {
        right: 0;
        left: initial;
      }
      & .message-body {
        &.arrow:before {
          left: initial;
          right: -9px;
          border-right: initial;
          border-left: 9px solid #dce3e7;
        }
        &.arrow:after {
          left: initial;
          right: -7px;
          border-right: initial;
          border-left: 7px solid #ffffff;
        }
      }
    }
  }
}

.message {
  &-wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    padding-left: 60px;
    max-width: 70%;
    min-width: 30%;
  }
  &-avatar {
    position: absolute;
    top: 7px;
    left: 0;
    height: 44px;
    width: 44px;
    border-radius: 3px;
    overflow: hidden;
  }
  &-body {
    position: relative;
    min-height: 30px;
    padding:15px 10px 10px;
    margin-bottom: 5px;
    background: #edf9ff;
    border: 1px solid #dce3e7;
    border-radius: 5px;
    &.arrow:before {
      position: absolute;
      content: "";
      top: 12px;
      left: -17px;
      display: block;
      width: 0;
      height: 0;
      pointer-events: none;
      border: 8px solid transparent;
      border-right: 9px solid #dce3e7;
    }
    &.arrow:after {
      content: " ";
      position: absolute;
      top: 14px;
      left: -13px;
      display: block;
      width: 0;
      height: 0;
      pointer-events: none;
      border: 6px solid transparent;
      border-right: 7px solid #edf9ff;
    }
  }
  &-data {
    color: #82a2b5;
    font-size: 12px;
    &__info {
      font-weight: 700;
    }
  }
  &-write {
    &-wrapper {
      margin:0 10px;
      height: 21.5%;
      overflow: hidden;
      border-radius: 5px;
      border: 1px solid #dce3e7;
      background: #edf9ff;
      color: #aec9d6;
    }
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #dce3e7;
    }
    &-header {
      padding: 5px 10px 5px;
      &__tab {
        position: relative;
        &:before {
          position: absolute;
          content: "";
          width: 100%;
          bottom: -10px;
          border-bottom:2px solid #aec9d6;
        }
      }
    }
    &-help {

    }
    &-textarea {
      padding: 15px 10px 10px;
      & textarea{
        width: 100%;
        border: none;
        resize: none;
        &:focus {
          outline: none;
        }
      }
    }
    &-actions {
      display: flex;
      justify-content: space-between;
      padding: 10px;
    }
  }
}

.md-button-primary {
  background-color: #0d66c7;
  color: #fff;
}

.mat-sidenav-container {
  background-color: #f0f4f7;
}